@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container"  >
    <h1 class="display-4 text-primary p-3 mb-2 bg-dark">Welcome</h1>
    <p class="font-weight-bolder">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
